<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.2/phpunit.xsd"
         bootstrap="tests/autoload.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuites>
        <testsuite name="Entity Manager tests">
            <file>tests/unit/EntityManagerTest.php</file>
            <file>tests/unit/ResolverTest.php</file>
            <file>tests/unit/HttpEntityTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>src/EntityManager.php</file>
            <file>src/EntityManager/Annotation/Resolver.php</file>
            <file>src/EntityManager/Annotation/HttpEntity.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/report"/>
    </logging>
</phpunit>
